
#editor_codeArea {
    -fx-font-size: 1.2em;
}
#editor_codeArea .comment {
    -fx-fill: green;
}
#editor_codeArea .keyword {
    -fx-fill: red;
}
#editor_codeArea .operator{
    -fx-fill: blue;
}

#editor_codeArea .string {
    -fx-fill: green;
}

stack-pane:disabled {
     -fx-cursor: default;
 }