*.log
*.zip
javafx-sdk-21.0.2.zip
javafx-sdk-21.0.2
appimagetool.AppImage
target
target/
installer
installer/
build
build/
bin
bin/
.project
.idea
.idea/
.classpath
.settings
.settings/
dist
dist/